sillycat-authcenter-nodejs/node_modules/
sillycat-authcenter-connexion/authapi/__pycache__/
sillycat-authcenter-connexion/.idea/
sillycat-authcenter-connexion/venv/
sillycat-authcenter-python/.idea/
sillycat-authcenter-python/venv/
.factorypath
.settings/
target/

.classpath
.project
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
